<ul class="nav">  
  
    <li>    
        <label>1. Giới thiệu công ty</label> <br>
                                             - Công ty cổ phần Tinh hoa Ẩm thực Bắc Bộ Việt Nam chuyên hoạt động về lĩnh vực ẩm thực với hệ thống nhà hàng có quy mô lớn trong đó phải kể đến hệ thống nhà hàng Green Tangerine với bề dày truyền thống hơn 20 năm. Đến với hệ thống nhà hàng của chúng tôi, bạn sẽ được thưởng thức phong cách ẩm thực hòa trộn mang hương vị Pháp và Việt Nam. Bạn chắc chắn sẽ hài lòng về sự tiếp đãi ân cần và chu đáo với các dịch vụ chuyên nghiệp. <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           - Với chiến lược trở thành một trong những hệ thống nhà hàng đẳng cấp hàng đầu Việt Nam, chúng tôi luôn hoan nghênh các ứng viên năng động, có năng lực gia nhập đội ngũ cán bộ công nhân viên công ty.
    </li>
    <li>        
        <label>2. Mô tả công việc</label>        <br>
                                                 - Thực hiện công tác tuyển dụng của công ty: Đăng tuyển, chọn lọc hồ sơ, lên danh sách, sắp xếp lịch phỏng vấn, tham gia phỏng vấn…;
                                                 <br>
                                                 - Triển khai công tác đào tạo theo kế hoạch phê duyệt;
                                                 <br>
                                                 - Thực hiện các công tác liên quan đến chế độ chính sách cho người lao động bao gồm: Tiền lương, thưởng, BHXH – BHYT - BHTN, thuế thu nhập cá nhân...<br>
                                                                                                                                                                                                      - Các công việc khác trao đổi cụ thể trong buổi phỏng vấn.
    </li>    
  
    <li>
        <label>3. Quyền lợi được hưởng</label>        <br>
                                                      - Được hưởng mức lương tương xứng với khả năng và kinh nghiệm làm việc; 
                                                      <br>
                                                      - Môi trường làm việc trẻ, năng động, có nhiều cơ hội thăng tiến;
                                                      <br>
                                                      - Được hưởng các chế độ BHXH, BHYT và các chế độ khác theo quy định của Nhà nước và Bộ luật lao động;
                                                      <br>
                                                      - Được tham quan, nghỉ mát hàng năm, hưởng các chế độ Lễ, Tết, sinh nhật theo quy định công ty.
    </li>   
    <li>        
        <label>4. Yêu cầu</label>        <br>
                                         - Tốt nghiệp Đại học chuyên ngành quản trị nhân sự hoặc các chuyên ngành khác có liên quan, am hiểu về quản trị nhân sự hiện đại (BSC, KPIs...), biết Tiếng Anh là một lợi thế;
                                         <br>
                                         - Kỹ năng văn phòng thành thạo;
                                         <br>
                                         - Kinh nghiệm ở vị trí tương đương từ 03-05 năm;
                                         <br>
                                         - Thân thiện, hòa đồng, am hiểu và có khả năng giải quyết các vấn đề liên quan đến tâm lý lao động trong tổ chức;
                                         <br>
                                         - Chăm chỉ, nhiệt tình, có trách nhiệm với công việc;
                                         <br>
                                         - Ứng viên có kinh nghiệm làm nhân sự trong lĩnh vực ẩm thực, nhà hàng là một lợi thế.
    </li>
	 
    <li>
        <label>5. Hồ sơ bao gồm</label>        <br>
                                               - Đơn xin việc tự soạn; <br>
                                                                       - CV cá nhân mô tả chi tiết quá trình học tập và làm việc; <br>
                                                                                                                                  - Sơ yếu lý lịch có xác nhận của chính quyền xã, phường, địa phương nơi cư trú có thời hạn trong vòng 06 tháng gần đây;  <br>
                                                                                                                                                                                                                                                           - Bằng cấp, chứng chỉ liên quan; <br>
                                                                                                                                                                                                                                                                                            - Giấy khai sinh, giấy khám sức khỏe, chứng minh thư nhân dân. <br>
                                                                                                                                                                                                                                                                                                                                                           Chỉ mời phỏng vấn những hồ sơ đạt yêu cầu tuyển dụng, không hoàn trả hồ sơ nếu không trúng tuyển. <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                             Nhận hồ sơ qua email. <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Tuyển gấp, ưu tiên các ứng viên nộp hồ sơ sớm. <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Hạn nộp hồ sơ: 25/08/2016
    </li>

    <li class="padding-line contact margin-none">
        <div class="row">
            <div class="col-md-9">
                <label>6. Nơi làm việc</label><br>
                <h2>Công ty cổ phần Tinh hoa Ẩm thực Bắc Bộ Việt Nam</h2>
                <ul class="nav navbar-left contact-address">
                    <li>
                        <label>Đơn vị liên hệ: </label> Phòng Nhân sự
                    </li> 
                    <li>
                        <label>Số ĐT: </label> 04 32669985 / 0983 502 983
                    </li> 
                    <li>
                        <label>Văn phòng GD: </label> Phòng 102, IBC Building, 35-37 Tràng Thi, Hà Nội
                    </li>
                    <li>
                        <label>Email nhận hồ sơ: </label> luyen.le@tabjsc.com
                    </li>
                </ul>
            </div>

            <div class="col-md-3 fix-top">
                <ul class="nav navbar-right">
                    <li class="end-date">
                        <label>Hạn chót nộp hồ sơ</label>
                        <br>
                        <span class="color-red">18/08/2016</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>